In [11]:
!pip install tabulate

Defaulting to user installation because normal site-packages is not writeable
Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

In [1]:
import numpy as np
import pandas as pd

## Highlight your pandas dataframe

In [2]:
df = pd.DataFrame({
    "col1": [-5, -2, 1, 4],
    "col2": [2, 3, -1, 4]
})

In [3]:
def highlight_number(row):
    return [
        "background-color: red; color: white"
        if cell <= 0
        else "background-color: green; color: white"
        for cell in row
    ]

In [4]:
df.style.apply(highlight_number)

## Gradient style

In [5]:
df.style.background_gradient()

In [6]:
df.style.background_gradient(cmap='plasma')

## Format the text display

In [7]:
df2 = pd.DataFrame({
    'item': ['a', 'b'],
    'price': [np.nan, 2.34]
})

In [8]:
s = df2.style.format(
# format cells
{'item': str.upper, 'price': '${:.1f}'},
# replace nan with MISSING
na_rep='MISSING')

In [9]:
s

## Print DataFrame to markdown format (for GitLab README)

In [12]:
print(df.to_markdown())

|    |   col1 |   col2 |
|---:|-------:|-------:|
|  0 |     -5 |      2 |
|  1 |     -2 |      3 |
|  2 |      1 |     -1 |
|  3 |      4 |      4 |

In [13]:
print(df.to_markdown(tablefmt='grid'))

+----+--------+--------+
|    |   col1 |   col2 |
+====+========+========+
|  0 |     -5 |      2 |
+----+--------+--------+
|  1 |     -2 |      3 |
+----+--------+--------+
|  2 |      1 |     -1 |
+----+--------+--------+
|  3 |      4 |      4 |
+----+--------+--------+

## Print DataFrame in Latex format

In [14]:
print (df.style.to_latex())

\begin{tabular}{lrr}
 & col1 & col2 \\
0 & -5 & 2 \\
1 & -2 & 3 \\
2 & 1 & -1 \\
3 & 4 & 4 \\
\end{tabular}